.fileHead{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.buttonbt2{

    background-color: white;
    border-radius: 5px;
    border-color:#10005d ;
    color:#10005d;
    font-size: medium;
    height: 38px;
  
  
  
  }
  .buttonbt2:hover{
  
    background-color: #10005d;
    border-radius: 5px;
    border-color:#10005d ;
    color:white;
    font-size: medium;
  
  
  
  }