/* .form-section {
  background-color: rgb(231, 251, 247);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
} */

label {
  color: #30c2bf;
  font-weight: 400;
}

.form-group {
  margin-bottom: 2.5em;
}

.has-error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  font-size: 0.8em;
  position: absolute;
}
