.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: black;
}
.ani {
  color: white;
  font-size: 16px;
}
.ani:hover {
  color: #ffdb58;
}
.bg {
  background-color: #10005d;
}
/* .active {
  color: #ffdb58 !important;
  font-size: 20px;
  line-height: 20px;
} */

/* for dropdown in header */
#dropdown {
  border: 1px solid white;
  /* width: 159px; */
}

ul li {
  padding-left: 10px;
}
/* for main logo */
.mainLogoDown {
  font-size: x-small;
  position: absolute;
  top: 45px;
  left: 33px;
}

@media screen and (max-width: 1000px) {
  .navbar-toggler {
    background-color: white !important;
  }
  .navbar-brand {
    color: white !important;
  }
  .gapLine {
    display: none !important;
  }
  .active {
    color: #ffdb58 !important;
    font-size: 20px;
    line-height: 20px;
  }
}
